<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="TheITNerd\SocialLogin\Model\OAuth">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="google" xsi:type="object">TheITNerd\SocialLogin\Model\OAuth\Google</item>
                <item name="facebook" xsi:type="object">TheITNerd\SocialLogin\Model\OAuth\Facebook</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="add_social_login_to_checkout" type="TheITNerd\SocialLogin\Plugin\Magento\Checkout\Block\Checkout\LayoutProcessorPlugin"/>
    </type>

</config>
