<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="snappoints_loyalty" id="snappoints_loyalty">
			<module before="Magento_Backend" name="SnapPoints_Loyalty"/>
		</route>
	</router>
</config>
