<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

        <section id="performance" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Performance</label>
            <tab>theitnerd</tab>
            <resource>TheITNerd_Performance::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Performance Functionalitis</label>
                    <comment>This will enable customer frontend performnace implementation.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="additional_preconnect" translate="label comment" type="textarea" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Additional Preconnect Entries</label>
                    <comment><![CDATA[Add one url by line, ex:<br>https://fonts.gstatic.com<br>https://fonts.googleapis.com]]></comment>
                    <depends>
                        <field id="performance/general/enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
