<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <ux>
            <pdp>
                <enabled_qty_btn>1</enabled_qty_btn>
                <enabled_estimate_shipping>1</enabled_estimate_shipping>
                <enable_buy_together>1</enable_buy_together>
            </pdp>

            <pdp_gallery>
                <enabled>1</enabled>
                <magnifier_enabled>1</magnifier_enabled>
                <magnifier_fullscreenzoom>20</magnifier_fullscreenzoom>
                <magnifier_top>0</magnifier_top>
                <magnifier_left>0</magnifier_left>
                <magnifier_width>250</magnifier_width>
                <magnifier_height>250</magnifier_height>
                <magnifier_eventType>hover</magnifier_eventType>
                <magnifier_mode>inside</magnifier_mode>
            </pdp_gallery>

            <plp>
                <enabled_second_product_image>1</enabled_second_product_image>
            </plp>

            <cash_discount>
                <enabled>1</enabled>
                <amount>5</amount>
                <payment_type>PIX</payment_type>
            </cash_discount>

            <installment>
                <enabled>1</enabled>
                <min_installment>10</min_installment>
                <max_installment>12</max_installment>
                <no_tax_installment>3</no_tax_installment>
                <installment_tx>1.99</installment_tx>
            </installment>

            <facebook_share>
                <enabled>1</enabled>
                <link_text>Share</link_text>
                <link_type>_popup</link_type>
                <popup_width>600</popup_width>
                <popup_height>500</popup_height>
                <popup_scrollbars>0</popup_scrollbars>
                <popup_resizable>0</popup_resizable>
            </facebook_share>

            <twitter_share>
                <enabled>1</enabled>
                <link_text>Tweet</link_text>
                <share_text><![CDATA[Check out this amazing product, that I just found %1]]></share_text>
                <link_type>_popup</link_type>
                <popup_width>600</popup_width>
                <popup_height>300</popup_height>
                <popup_scrollbars>0</popup_scrollbars>
                <popup_resizable>0</popup_resizable>
            </twitter_share>

            <whatsapp_share>
                <enabled>1</enabled>
                <link_text>Share</link_text>
                <share_text><![CDATA[Check out this amazing product, that I just found %1]]></share_text>
            </whatsapp_share>
        </ux>
    </default>
</config>
