<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <performance>
            <general>
                <enabled>1</enabled>
                <additional_preconnect>
<![CDATA[https://fonts.gstatic.com
https://fonts.googleapis.com]]>
                </additional_preconnect>
            </general>
            <server_push>
                <max_images>10</max_images>
                <max_css>10</max_css>
                <max_js>10</max_js>
                <max_font>10</max_font>
            </server_push>
        </performance>
    </default>
</config>
