//
//  Common (styles-m.css)
//  _____________________________________________
& when (@media-common = true) {
    .btn-qty {
        .lib-button();
    }

    .cash-discount {
        display: flex;
        flex-direction: column;
        &--price {
            font-size: @font-size__xl;
        }

        &--text {
            font-size: @font-size__l;
        }
    }
}

//
//  Desktop (style-l.css)
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    // your code
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
    // your code
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
    // your code
}
